.header {
  display: flex;
  justify-content: center;
  background-color: #000;
  color: #fff;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 80vw;
  margin: 0 auto;
}
